@page
@model ReinosAcoWebApp.Pages.Shared.Autenticidades.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Autenticidade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autenticidade.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autenticidade.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Autenticidade?.AutenticidadeId">Editar</a> |
    <a asp-page="./Index">Retornar</a>
</div>
