@page

@{
    ViewData["Title"] = "Quem Somos";
}

<div class="text-center">
    <h1 class="display-4">Sobre a Reinos & Aço</h1>
</div>

<div class="margin-50">
    <h3>Quem somos</h3>

    <p>Na Reinos & Aço, a paixão pela era medieval é o que nos move. Fundada em 2013, nossa empresa nasceu do amor por armaduras e equipamentos históricos. Desde então, nos dedicamos a proporcionar aos entusiastas medievais e colecionadores de armaduras uma experiência única e autêntica.</p>
</div>

<div class="margin-50">
    <h3>Nossa Missão</h3>

    <p>Nossa missão na Reinos & Aço é simples, mas poderosa: trazer a história à vida. Acreditamos que as armaduras medievais são mais do que peças de metal; elas são janelas para o passado, conexões com uma era de cavalheirismo e coragem. Queremos compartilhar essa paixão com você, oferecendo as melhores armaduras, acessórios e produtos relacionados à história medieval. Nossa missão é ser a sua porta de entrada para um mundo de cavaleiros, castelos e batalhas épicas.</p>
</div>

<div class="margin-50">
    <h3>Nossos Valores</h3>

    <ul>
        <li><span class="list-first-item">Autenticidade:</span> Na Reinos & Aço, comprometemo-nos a oferecer produtos autênticos, criados com materiais de alta qualidade e atenção aos detalhes históricos. Cada peça é uma obra-prima que honra a tradição medieval.</li>

        <li><span class="list-first-item">Atendimento ao Cliente:</span> Valorizamos nossos clientes e nos esforçamos para fornecer um atendimento excepcional. Estamos aqui para responder às suas perguntas, fornecer orientações e garantir que sua experiência de compra seja satisfatória.</li>

        <li><span class="list-first-item">Preservação Histórica:</span> Temos um profundo respeito pela história e trabalhamos para preservar as tradições e técnicas antigas na produção de armaduras e equipamentos medievais.</li>
    </ul>
</div>


<div class="margin-50">
    <h3>Por que Escolher a Reinos & Aço?</h3>

    <p>A Reinos & Aço é a sua escolha ideal para produtos medievais de alta qualidade. Nossos artesãos são apaixonados pelo que fazem e têm anos de experiência na criação de armaduras autênticas. Nós oferecemos:</p>

    <ul>
        <li>Uma ampla seleção de armaduras medievais, de elmos a couraças e muito mais.</li>
        <li>Produtos personalizáveis para atender às suas necessidades específicas.</li>
        <li>Entrega rápida e atendimento ao cliente excepcional.</li>
        <li>Compromisso com a qualidade e autenticidade.</li>
    </ul>
</div>

<hr class="margin-100" />

<div class="margin-100 text-center last-text">
    <p>Obrigado por visitar a Reinos & Aço. Esperamos que você se junte a nós na busca pela preservação da história medieval por meio de nossos produtos excepcionais. Se você tiver alguma dúvida ou quiser saber mais sobre nós, não hesite em entrar em contato. Estamos aqui para ajudar!</p>
</div>
