@page
@model ReinosAcoWebApp.Pages.CreateModel

<div class="row pt-5">
    <div class="col-md-4">
        <form method="post">
            <h4>Inclusão de Armadura</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Armadura.Nome" class="form-label"></label>
                <input asp-for="Armadura.Nome" class="form-control" />
                <span asp-validation-for="Armadura.Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Armadura.Descricao" class="form-label  mt-3"></label>
                <input asp-for="Armadura.Descricao" class="form-control" />
                <span asp-validation-for="Armadura.Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Armadura.ImgUri" class="form-label  mt-3"></label>
                <input asp-for="Armadura.ImgUri" class="form-control" />
                <span asp-validation-for="Armadura.ImgUri" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Armadura.Preco" class="form-label  mt-3"></label>
                <input asp-for="Armadura.Preco" class="form-control" />
                <span asp-validation-for="Armadura.Preco" class="text-danger"></span>
            </div>

            <div class="form-group  mt-3">
                <input class="form-check-input" asp-for="Armadura.EntregaExpressa" />
                <label asp-for="Armadura.EntregaExpressa"></label>
            </div>

            <div class="form-group">
                <label asp-for="Armadura.DataCadastro" class="form-label mt-3"></label>
                <input asp-for="Armadura.DataCadastro" class="form-control" />
                <span asp-validation-for="Armadura.DataCadastro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Armadura.AutenticidadeId" class="form-label mt-3"></label>
                <select class="form-select" asp-for="Armadura.AutenticidadeId"
                        asp-items="Model.AutenticidadeOptionItems">
                    <option value="">Selecione uma opção</option>
                </select>
                <span asp-validation-for="Armadura.AutenticidadeId" class="text-danger">
                </span>
            </div>

            <div class="form-group">
                <label asp-for="Armadura.Materiais" class="form-label mt-3"></label>
                <select class="form-select" asp-for="MaterialIds"
                        asp-items="Model.MaterialOptionItems">
                </select>
                <span asp-validation-for="Armadura.Materiais" class="text-danger">
                </span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}