@page

@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="text-center">
    <h1 class="display-4">Política de Privacide</h1>
</div>

<div class="margin-50">
    <p>Última Atualização: [23/10/2023]</p>
</div>

<div>
    <h3>Na Reinos & Aço, valorizamos a sua privacidade e estamos comprometidos em proteger as informações pessoais que você nos fornece. Esta Política de Privacidade explica como coletamos, usamos, divulgamos e protegemos suas informações quando você visita o nosso site ou utiliza os nossos serviços. Ao usar os serviços da Reinos & Aço, você concorda com as práticas descritas nesta política.</h3>
</div>

<div class="margin-50">
    <h3>Informações que Coletamos:</h3>

    <ul>
        <li><span class="list-first-item">Informações de Contato:</span> Coletamos informações como nome, endereço de e-mail, endereço de entrega e número de telefone para processar pedidos e fornecer atendimento ao cliente.</li>

        <li><span class="list-first-item">Informações de Pagamento:</span> Ao efetuar uma compra, coletamos informações de pagamento, como número de cartão de crédito, endereço de faturamento e outros detalhes necessários para processar o pagamento.</li>

        <li><span class="list-first-item">Informações de Registro:</span> Se você criar uma conta em nosso site, coletaremos informações de registro, como nome de usuário e senha.</li>

        <li><span class="list-first-item">Informações de Navegação:</span> Podemos coletar informações sobre como você interage com o nosso site, incluindo páginas visitadas, produtos visualizados e a forma como você chegou ao nosso site.</li>

        <li><span class="list-first-item">Comunicações:</span> Registramos comunicações com a nossa equipe de atendimento ao cliente, o que pode incluir e-mails, mensagens de chat e chamadas telefônicas.</li>
    </ul>
</div>

<div class="margin-50">
    <h3>Uso de Informações Pessoais</h3>

    <ul>
        <li>Processar pedidos e entregas.</li>

        <li>Fornecer atendimento ao cliente.</li>

        <li>Personalizar a sua experiência no site.</li>

        <li>Enviar atualizações, promoções e informações relacionadas aos nossos produtos e serviços.</li>

        <li>Melhorar a qualidade e a segurança dos nossos serviços.</li>

        <li>Cumprir obrigações legais e regulatórias.</li>
    </ul>
</div>

<div class="margin-50">
    <h3>Compartilhamento de Informações Pessoais</h3>

    <p>Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para cumprir obrigações legais, regulatórias ou contratuais, ou com o seu consentimento.</p>
</div>

<div class="margin-50">
    <h3>Seus Direitos de Privacidade</h3>

    <p>Você tem direitos em relação às suas informações pessoais, incluindo o direito de acessar, corrigir e excluir suas informações. Para exercer esses direitos ou fazer perguntas sobre a nossa política de privacidade, entre em contato conosco.</p>
</div>

<div class="margin-50">
    <h3>Alterações na Política de Privacidade</h3>

    <p>Podemos atualizar esta política de privacidade periodicamente para refletir mudanças nas nossas práticas e serviços. A versão mais recente estará sempre disponível em nosso site.</p>
</div>

<div class="margin-50">
    <h3>Contato</h3>

    <p>Se tiver dúvidas sobre esta política de privacidade, entre em contato conosco através das informações a seguir:</p>

    <p>
        [Endereço de e-mail de contato]<br />
        [Número de telefone de contato]
    </p>
</div>